{% macro element_makro(element, group_name, counter) %}
    <li class="list-group-item pr-0">
        <div class="row">
            <div class="col-10">
                <h3>{{ element[0] | e }}</h3>
            </div>
            <div class="d-flex flex-row-reverse col-2">

                <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal"
                        data-target="#mod-{{ group_name | replace(" ","-") | e }}-{{ counter }}">
                    Show {{ element[2] }} {{ "usage" if element[2] == 1 else "usages" }}
                </button>
            </div>
        </div>

        <div class="modal" id="mod-{{ group_name | replace(" ","-") | e }}-{{ counter }}">
            <div class="modal-dialog" style="max-width: 80%;">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Data about object</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <pre>
                            <code>
{{ element[1] | e }}
                            </code>
                        </pre>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </li>
{% endmacro %}

{% macro directory_makro(element, group_name, counter) %}
    <li class="list-group-item pr-0">
        <div class="row">
            <div class="col-10">
                <h3>{{ element[0] | e }} <span
                        class="badge badge-primary">{{ element[2] }}</span></h3>
            </div>
            <div class="d-flex flex-row-reverse col-2">

                <button type="button" class="btn btn-secondary drop-button" data-toggle="collapse"
                        data-target="#items-dir-{{ group_name | replace(" ","-") | e }}-{{ counter }}"><i
                        class="fas  {{ "fa-angle-down" if element[1] |length > 5 else "fa-angle-up" }}"></i></button>
            </div>
        </div>
        <div id="items-dir-{{ group_name | replace(" ","-") | e }}-{{ counter }}"
             class="collapse {{ "" if element[1] |length > 5 else "show" }}">
            <ul class="list-group list-group-flush border border-right-0 border-top-0 border-bottom-0">
                {% for elementOfDir in element[1] %}
                    {% if elementOfDir[1] is string %}
                        {{ element_makro(elementOfDir, group_name + element[0], loop.index) }}
                    {% else %}
                        {{ directory_makro(elementOfDir, group_name + element[0], loop.index) }}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </li>
{% endmacro %}

{% macro group_macro(group_name, item_list_and_number) %}
    <div class="card bg-light text-dark mt-2 wow pulse">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <p class="d-inline">Group: </p>
                    <h3 class="d-inline">{{ group_name |e }} <span
                            class="badge badge-primary">{{ item_list_and_number[1] }}</span></h3>

                </div>
                <div class="d-flex flex-row-reverse col-2">
                    <button type="button" class="btn btn-secondary drop-button" data-toggle="collapse"
                            data-target="#items-{{ group_name | replace(" ","-") | e }}">Items <i
                            class="fas fa-angle-down"></i></button>
                </div>
            </div>
        </div>
        <div id="items-{{ group_name | replace(" ","-") | e }}" class="collapse">
            <div class="card-footer">
                <ul class="list-group list-group-flush">
                    {% for element in item_list_and_number[0] %}
                        {% if element[1] is string %}
                            {{ element_makro(element, group_name, loop.index) }}
                        {% else %}
                            {{ directory_makro(element, group_name, loop.index) }}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro tableCall(title, method, description, path, bodyRequest, exampleBodyRequest, bodyResponse, bodyResponseExample, query, id) %}
    <div class="card m-3 wow {{ 'bounceInLeft' if id % 2 == 0 else 'bounceInRight' }}">
        <div class="card-header">
            <h2>
                {{ title }}
            </h2>
            <button class="btn btn-primary float-right" type="button" data-toggle="collapse"
                    data-target="#collapse{{ id }}"
                    aria-expanded="false" aria-controls="collapse{{ id }}">
                Toggle
            </button>
            <p class="my-3">
                {{ description }}
            </p>
        </div>
        <div class="collapse" id="collapse{{ id }}">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <th>
                        Item
                    </th>
                    <th>
                        Value
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Path
                        </td>
                        <td>
                            {{ path }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Method
                        </td>
                        <td>
                            {{ method }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Request Body
                        </td>
                        <td>
                            {{ bodyRequest }}
                        </td>
                    </tr>
                    {% if exampleBodyRequest %}
                        <tr>
                            <td>
                                Request Body Example
                            </td>
                            <td>
                                <code>
                                <pre>
{{ exampleBodyRequest }}
                                </pre>
                                </code>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>
                            Response Body
                        </td>
                        <td>
                            {{ bodyResponse }}
                        </td>
                    </tr>
                    {% if bodyResponseExample %}
                        <tr>
                            <td>
                                Response Body Example
                            </td>
                            <td>
                                <code>
                                <pre>
{{ bodyResponseExample }}
                                </pre>
                                </code>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>
                            Query Parameter
                        </td>
                        <td>
                            {{ query }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endmacro %}